@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
/*font-family: 'Marck Script', cursive; 
font-family: 'Shrikhand', cursive;
font-family: 'Reenie Beanie', cursive;
font-family: 'Caveat', cursive;
font-family: 'Passion One', cursive;*/
/*HEADER*/
header {
  background-image: radial-gradient(circle 727.4px at 10% 20%, rgba(239, 182, 249, 0.99) 47.2%, rgba(229, 104, 251, 0.78) 64.9%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
}

header .carrusel {
  padding: 2px;
  margin: 2px;
}

header img {
  width: 200px;
  height: 200px;
}

header .menu {
  font-family: "Merienda", cursive;
  background-color: rgba(239, 182, 249, 0.99);
  border-radius: 10px;
}

header .menu .inicio {
  font-size: 20px;
  color: black;
  text-decoration: none;
  padding: 1rem;
  border-radius: 10px;
}

header .menu .inicio :hover {
  background-color: rgba(229, 104, 251, 0.78);
  color: white;
}

/*FOOTER*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: radial-gradient(circle 727.4px at 10% 20%, rgba(239, 182, 249, 0.99) 47.2%, rgba(229, 104, 251, 0.78) 64.9%);
  padding: 10px;
  font-size: 25px;
  font-family: "Passion One", cursive;
  color: white;
}

footer img {
  width: 250px;
  height: 250px;
}

footer ul li {
  list-style: none;
}

footer ul li a {
  text-decoration: none;
}

/*Index*/
main {
  background-color: rgba(137, 43, 226, 0.185);
}

main h1 {
  font-family: "Marck Script", cursive;
  text-align: center;
  font-size: 60px;
  text-decoration: underline;
  padding: 2rem;
}

main .central {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% auto;
      grid-template-columns: 40% auto;
  -ms-grid-rows: 30% auto;
      grid-template-rows: 30% auto;
      grid-template-areas: "limpieza      limpieza " " dia           noche ";
  font-family: "Caveat", cursive;
  padding: 1rem;
  text-align: center;
}

main .central h2 {
  font-size: 3rem;
  text-decoration: underline;
}

main .central p {
  font-family: "Assistant", sans-serif;
  font-size: 1.5rem;
  padding: 0.8rem;
  margin: 1rem;
}

main .central .centralUno {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: limpieza;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px;
  border: 50px;
  border: whitesmoke solid 0.3rem;
}

main .central .centralDos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: dia;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px;
  border: 50px;
  border: whitesmoke solid 0.3rem;
}

main .central .centralDos h2 {
  padding-bottom: 2.5rem;
}

main .central .centralTres {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: noche;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
  border: 50px;
  border: whitesmoke solid 0.3rem;
  padding-bottom: 2.3rem;
}

main .central .centralTres .imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .central .centralTres .imagenes img {
  width: 45%;
}
/*# sourceMappingURL=style.css.map */