@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
/*font-family: 'Marck Script', cursive; 
font-family: 'Shrikhand', cursive;
font-family: 'Reenie Beanie', cursive;
font-family: 'Caveat', cursive;
font-family: 'Passion One', cursive;*/

/*HEADER*/

header {
  background-image: radial-gradient(
    circle 727.4px at 10% 20%,
    rgba(239, 182, 249, 0.99) 47.2%,
    rgba(229, 104, 251, 0.78) 64.9%
  );
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

header img {
  width: 200px;
  height: 200px;
}

.menu {
  font-family: "Merienda", cursive;
  background-color: rgba(239, 182, 249, 0.99);
  border-radius: 10px;
}
.inicio {
  font-size: 20px;
  color: black;
  text-decoration: none;
  padding: 1rem;
  border-radius: 10px;

}
.inicio:hover {
  background-color: rgba(229, 104, 251, 0.78);
  color: white;
}

/*FOOTER*/

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: radial-gradient(
    circle 727.4px at 10% 20%,
    rgba(239, 182, 249, 0.99) 47.2%,
    rgba(229, 104, 251, 0.78) 64.9%
  );
  padding: 10px;
  font-size: 25px;
  font-family: "Passion One", cursive;
  color: white;
}
footer img {
  width: 250px;
  height: 250px;
}
footer ul li a {
  text-decoration: none;
}
footer ul li {
  list-style: none;
}

/*Index*/

main {
    background-color: rgba(137, 43, 226, 0.185);
  }
  main h1 {
    font-family: "Marck Script", cursive;
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
    padding: 2rem;
  }
  .central {
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: 30% auto;
  grid-template-areas:
    "limpieza      limpieza "
    " dia           noche ";
  font-family: "Caveat", cursive;
  padding: 1rem;
  text-align: center;
}
.central p {
  font-family: "Assistant", sans-serif;
  font-size: 1.5rem;
  padding: 0.8rem;
  margin: 1rem;
 
}
.central h2 {
  font-size: 3rem;
  text-decoration: underline;
}
.centralDos h2{
  padding-bottom: 2.5rem;
}

.centralUno {
  grid-area: limpieza;
  display: flex;
  padding: 2px;
  border:50px ;
  border: whitesmoke solid 0.3rem;
}
.centralDos {
  grid-area: dia;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 3px;
  border:50px ;
  border: whitesmoke solid 0.3rem;
}
.centralTres {
  grid-area: noche;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2px;
  border:50px ;
  border: whitesmoke solid 0.3rem;
  padding-bottom: 2.3rem;
}
.imagenes {
  display: flex;
  justify-content: space-evenly;
}
.imagenes img {
  width: 45%;
}
.carrusel {
  padding: 2px;
  margin: 2px;
}

/*TIPOS*/

.seccionTipos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.seccionTipos p {
  font-size: 20px;
  text-align: center;
  font-family: "Assistant", sans-serif;
}
.seccionTipos img:hover{
  width: 70rem;
  border-radius: 20px;
  background-image: radial-gradient(
    circle 727.4px at 10% 20%,
    rgba(239, 182, 249, 0.99) 47.2%,
    rgba(229, 104, 251, 0.78) 64.9%
  );
  padding: 2rem;
}
.transformacion img {
  transform: translate(10px, 20px);
}

/*CONTACTO*/

.seccionContacto {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-evenly;
}
.seccionContacto img {
  width: 500px;
  height: 500px;
}
.formulario {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-family: "Shrikhand", cursive;
}
/*PROBLEMATICAS*/

.problemas {
  font-size: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  grid-template-areas:
    "acne melasma"
    "manchas cicatrices";
  padding: 10px;
  font-family: "Reenie Beanie", cursive;
}
.problemasUno {
  grid-area: acne;
  border-radius: 50px;
  border: white double 0.5rem;
  padding: 10px;
}
.problemas div:hover{
  background-image: radial-gradient(
    circle 727.4px at 10% 20%,
    rgba(239, 182, 249, 0.99) 47.2%,
    rgba(229, 104, 251, 0.78) 64.9%);
}
.problemasDos {
  grid-area: melasma;
  border-radius: 50px;
  border: white double 0.5rem;
  padding: 10px;
}
.problemasTres {
  grid-area: manchas;
  border-radius: 50px;
  border: white double 0.5rem;
  padding: 10px;
}
.problemasCuatro {
  grid-area: cicatrices;
  border-radius: 50px;
  border: white double 0.5rem;
  padding: 10px;
}
.problemas h3 {
  text-decoration: underline;
  text-align: center;
  font-size: 40px;
  color: #800055;
}
.problemas p {
  color: #800055;
  width: 100%;
  height: 100%;
  padding: 10px;
}

/*RECOMENDADOS*/
.productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 6px;
}
.productos article {
  margin: 5px;
  width: 95%;
  height: 600px;
  border-radius: 10px;
  border: 2px double white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.productos article img {
  width: 95%;
  height: 65%;
}
.productos article p {
  padding: 5px;
  font-size: 18px;
  font-family: "Assistant", sans-serif;
  
}
@media (max-width: 768px) {
    .productos {
      border: 5px solid green;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
    .productos article p {
      font-size: 15px;
      padding: 5px;
    }  
    .centralUno {
      flex-direction: column;
    }
    .centralUno img {
      width: auto;
    }
    .logo{
      width: 40%;
      height: 40%;
    }

}
@media (max-width: 480px){
  header {
    display: flex;
    flex-direction: column;
  }
  #menuMobile{
    margin-right: 15rem;
    
  }
  .logo{
    width: 40%;
    height: 40%;
  }
  .animate__animated{
    font-size: 35px;
  }
  .central{
    flex-direction: column;
    display: flex;
  }
  .centralUno {
    flex-direction: column;
  }

  .centralUno p{
    padding: 3px;
    font-size: 20px;
}
  .centralUno img {
    width: 100%;
}
  .centralDos{
    flex-direction:column;
}
  .centralDos{
    padding:3px ;

}
  .centralDos p{
    padding: 3px;
    font-size: 20px;
}
  .centralDos img{
    width: 70% ;
  
}
  .centralDos h2{
    font-size: 45px;
}
  .centralTres{
    flex-direction: column;
}
  .centralTres p{ 
    padding: 3px;
    font-size: 20px;

}
  .centralTres img{
  width:90% ;
  height: 100%;
}
  .centralTres h2{
    font-size: 45px;

}
  .imagenes{
    width: 200px;
    height: 200px;
  }
  .productos {
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
  }
  footer {
    justify-content: space-between;
    font-size: 15px;
  }
  footer img {
    width: 27%;
    height: 27%;
  }
  .problemas {
    font-size: 25px;
    display:flex;
    flex-direction: column;
  }
  .seccionContacto {
    display: flex;
    flex-direction: column;
    
  }
  .seccionContacto img {
    width: 100%;
    height: 100%;
  }
  .formulario {
    font-size: 15px;
    width: 100%;
    }
}



