/*variables*/

$boxColor:radial-gradient( circle 727.4px at 10% 20%,
rgba(239, 182, 249, 0.99) 47.2%,
rgba(229, 104, 251, 0.78) 64.9%
);
$backgroundColor: rgba(239, 182, 249, 0.99);

$boxFamily:"Merienda", cursive;
$boxFamily2: "Passion One", cursive;
$backgroundColor2: rgba(137, 43, 226, 0.185);
$boxFamily3:"Marck Script", cursive;
$boxFamily4:"Assistant", sans-serif;
$boxBorder:whitesmoke solid 0.3rem;
$boxBoton:2.5rem;
$boxFamily5:"Reenie Beanie", cursive;
$boxColor1: #800055;
$boxBorder1:white double 0.5rem;
$boxBorder:2px double white;
$titulosH1: 60px;
$tituloH2: 3rem;
